section {
  div {
    width: 90%;
    margin: 0 0 10%;
    background-color: $contact-backkground;
    img:nth-child(2) {
      width: 30px;
      height: auto;
    }
    img:nth-child(1) {
      width: 50px;
      height: auto;
    }
    a {
      font-size: medium;
      color: black;
      display: block;
      text-decoration: none;
      padding: 12px 22px;
      transition: color 1s;

      &:hover {
        color: $blue-link;
      }
      &:nth-child(1) {
        display: inline;
        padding: 0;
      }
    }
  }
}
