h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  padding: 25px 0;
  text-align: center;
  color: white;
}
header {
  padding-bottom: 70px;
  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
  }
  h3 {
    font-size: 30px;
    padding: 15px 0;
    text-align: center;
  }
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  padding: 30px 10px;
}
h3 {
  font-size: 30px;
  padding: 15px 0;
}
p {
  margin: 12px;
  padding: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
