$footer-background: grey;
$blue-link: rgb(92, 161, 210);
$blue-top: rgb(24, 120, 189);
$blue-gradient: rgb(59, 96, 122);
$contact-backkground: rgb(249, 246, 246);
$x1-background: rgb(201, 195, 195);
$button-border: rgb(78, 76, 76);
$button-background: rgb(71, 69, 69);
