@media screen and (max-width: 500px) {
  nav {
    img:first-child {
      display: none;
    }
    div {
      width: 100%;
      float: none;
      height: 700px;
    }
    a:first-child {
      margin: 0;
    }
    header {
      background-image: none;
    }
    h1 {
      padding-bottom: 10vh;
      font-weight: 600;
      font-size: 28px;
      color: rgb(24, 120, 189);
    }
    #heading {
      background-color: none;
      opacity: 1;
      position: relative;
      top: 16vh;
      width: 100%;

      h3 {
        padding-bottom: 8px;
        font-size: 18px;
      }
    }
  }

  div.aside {
    position: relative;
    img {
      min-width: 300px;
      max-width: 340px;
      width: 60%;
      position: absolute;
      //left: 20%;
      bottom: 1px;
      height: 360px;
      opacity: 0.8;
    }
  }
  .right {
    margin: 5%;
    h2 {
      text-align: center;
    }
  }
  #AboutMe {
    margin-top: 40px;
    p {
      background-color: rgb(24, 120, 189);
      color: white;
    }
    div {
      width: 100%;
      display: block;
    }
    button {
      margin: 0 auto;
    }
  }
  #MyProject {
    margin: 10%;
    width: 80%;
    #quiz-modal {
      width: inherit;
    }
  }
  #Contact {
    input,
    textarea {
      width: 90%;
    }
    img {
      width: 25px;
      height: 25px;
    }
    #mail {
      width: 18px;
      height: 18px;
    }
  }
  footer {
    #button-footer {
      display: none;
    }
    #arrow {
      display: block;
      float: right;
      margin: 30px 60px;
    }
    #bottom-immage {
      padding: 30px;
      margin-left: 30px;
    }
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  header {
    background-image: none;

    h1 {
      padding-bottom: 17.5vh;
      font-weight: 900;
      color: rgb(24, 120, 189);
    }
    #heading {
      background-color: none;
      opacity: 1;
      position: relative;
      top: 17vh;
      font-weight: 900;
      width: 80%;
      h3 {
        padding-bottom: 20px;
      }
    }
  }
  nav {
    img:first-child {
      display: none;
    }
    div {
      width: 100%;
      float: none;
      height: 900px;
    }
    a:first-child {
      margin: 0;
    }
  }
  div.aside {
    //width: 100%;
    //float: none;
    position: relative;
    img {
      min-width: 300px;
      max-width: 340px;
      width: 60%;
      position: absolute;
      left: 20%;
      bottom: 1px;
      height: 400px;
      opacity: 0.8;
      //margin: 20px 0;
      //z-index: 10;
    }
  }
  .right {
    margin: 10%;
    h2 {
      text-align: center;
    }
  }
  #AboutMe {
    div {
      width: 100%;
      display: block;
    }
    button {
      margin: 0 auto;
    }
  }
  #MyProject {
    margin: 10%;
    width: 80%;
    #quiz-modal {
      width: inherit;
    }
  }
  #Contact {
    input,
    textarea {
      width: 90%;
    }
  }
  footer {
    #button-footer {
      display: none;
    }
    #arrow {
      display: block;
      float: right;
      margin: 30px 60px;
    }
    #bottom-immage {
      padding: 30px;
      margin-left: 180px;
    }
  }
}
@media screen and (min-width: 801px) and (max-width: 999px) {
  nav {
    img:first-child {
      display: none;
    }
    div {
      width: 100%;
      float: none;
      height: 900px;
    }
    a:first-child {
      margin: 0;
    }
  }
}
@media screen and (min-width: 1000px) {
  .aside {
    img {
      width: 40%;
    }
  }
  #x1 {
    top: 20px;
    right: 20px;
  }
  .right {
    h2 {
      margin-left: 5%;
    }
    #AboutMe {
      button {
        margin-left: 0 auto;
      }
    }
    #MyProject {
      .card {
        width: 35%;
        float: left;
        margin: 2%;
      }
    }
    #Contact {
      clear: both;
      input {
        width: 80%;
      }
      textarea {
        width: 80%;
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 24px;
  }
  #button-footer {
    display: block;
  }
}
