@media screen and (max-width: 500px) {
  nav {
    img:first-child {
      display: none;
    }
    div {
      padding: 50% 0;
      a {
        margin: 10%;
      }
      width: 100%;
      float: none;
      height: 100vh;
    }
    a:first-child {
      margin: 0;
    }
  }
  header {
    background-image: none;
    padding-bottom: 0;
    #desktop {
      display: none;
    }
    #mobile {
      width: 100%;
      h3 {
        color: $blue-top;
        animation-name: ime;
        animation-duration: 3s;
      }
      @keyframes ime {
        from {
          margin-right: -180px;
          font-style: italic;
        }
        to {
          font-style: normal;
        }
      }
      h4,
      h5 {
        font-weight: 400;
        font-size: medium;
        text-align: center;
        animation-name: naslov;
        animation-duration: 6s;
      }
      @keyframes naslov {
        from {
          opacity: 0.2;
        }
        to {
          opacity: 1;
        }
      }
      img {
        width: 200px;
        opacity: 0.8;
        display: block;
        margin: 0 auto;
      }
      width: 100%;
      display: block;
      margin: 5px;
    }
  }

  div.aside {
    display: none;
  }
  .right {
    margin: 5%;
    h2 {
      text-align: center;
    }
  }
  #AboutMe {
    p {
      background-color: $blue-top;
      color: white;
    }
    div {
      width: 100%;
      display: block;
    }
    button {
      margin: 0 auto;
    }
  }
  #MyProject {
    margin: 10%;
    width: 80%;
    #quiz-modal {
      width: inherit;
    }
  }
  #Contact {
    input,
    textarea {
      width: 90%;
      margin: 5% auto;
    }
    img {
      width: 25px;
      height: 25px;
    }
    #mail {
      width: 18px;
      height: 18px;
    }
  }
  footer {
    #button-footer {
      display: none;
    }
    #arrow {
      display: block;
      float: right;
      margin: 30px 60px;
    }
    #bottom-immage {
      padding: 30px;
      margin-left: 30px;
    }
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  header {
    padding-bottom: 0;
    background-image: none;
    #desktop {
      display: none;
    }
    #mobile {
      width: 100%;
      h3 {
        color: rgb(24, 120, 189);
      }
      h4,
      h5 {
        font-weight: 600;
        font-size: large;
        text-align: center;
      }
      img {
        width: 200px;
        opacity: 0.8;
        display: block;
        margin: 5% auto;
      }
      width: 100%;
      display: block;
      margin: 5px;
    }
  }

  nav {
    img:first-child {
      display: none;
    }
    div {
      padding: 50% 0;
      a {
        margin: 10%;
      }
      width: 100%;
      float: none;
      height: 100vh;
    }
    a:first-child {
      margin: 0;
    }
  }
  div.aside {
    display: none;
  }
  .right {
    margin: 10%;
    h2 {
      text-align: center;
    }
  }
  #AboutMe {
    div {
      width: 100%;
      display: block;
    }
    button {
      margin: 0 auto;
    }
  }
  #MyProject {
    margin: 10%;
    width: 80%;
    #quiz-modal {
      width: inherit;
    }
  }
  #Contact {
    input,
    textarea {
      width: 90%;
    }
  }
  footer {
    #button-footer {
      display: none;
    }
    #arrow {
      display: block;
      float: right;
      margin: 30px 60px;
    }
    #bottom-immage {
      padding: 30px;
      margin-left: 180px;
    }
  }
}
@media screen and (min-width: 801px) and (max-width: 999px) {
  #mobile {
    display: none;
  }
  nav {
    img:first-child {
      display: none;
    }
    div {
      width: 100%;
      float: none;
      height: 100vh;
    }
    a:first-child {
      margin: 0;
    }
  }
}
@media screen and (min-width: 1000px) {
  #mobile {
    display: none;
  }
  .aside {
    img {
      width: 40%;
    }
  }
  #x1 {
    top: 20px;
    right: 20px;
  }
  .right {
    h2 {
      margin-left: 5%;
    }
    #AboutMe {
      button {
        margin-left: 0 auto;
      }
    }
    #MyProject {
      .card {
        width: 35%;
        float: left;
        margin: 2%;
      }
    }
    #Contact {
      clear: both;
      input {
        width: 80%;
      }
      textarea {
        width: 80%;
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  #mobile {
    display: none;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 24px;
  }
  #button-footer {
    display: block;
  }
}
